.total {
  margin-top: 10px;
  padding: 30px;
  margin-left: 50px;
}
.container {
  display:flex;
  align-self: center;
  border: 2px, solid,  rgb(25, 184, 190);
  border-radius: 10px;
  margin-top: 15px;
margin-bottom: 15px;
}
